* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f5f7;
  box-sizing: border-box;
}
.MuiButton-containedPrimary.Mui-disabled {
  opacity: 0.6;
  background-color: #1174f2 !important;
  color: #fff !important;
}
.MuiButton-contained.Mui-disabled {
  background-color: #f3f5f7;
  color: #939da8;
}

.gmnoprint {
  display: none;
}

.gm-style-cc {
  display: none;
}

.MuiList-root {
  outline: none;
}
